body {
  background-color: #07383a;
  color: #f3eaea;
}
a {
  color: #f3eaea;
  transition: all 500ms;
}
.menu-links:hover {
  cursor: pointer;
  font-size: 180%;
  font-size-adjust: 5%;
}
h1 {
  font-family: Gloock;
  font-size: 10.5vw;
  letter-spacing: 10px;
  text-transform: capitalize;
  position: absolute;
  top: -31%;
  left: 13%;
}
h2,
ul,
p {
  font-family: Montserrat;
}
h2 {
  font-size: 46px;
}
ul {
  list-style: none;
}
img {
  width: 90%;
  height: auto;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  margin: 10px;
}
.image-container {
  width: 85%;
  padding: 20px 0px 20px 90px;
  position: relative;
}
.collab-container {
  display: block;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.menu {
  font-family: Montserrat;
  letter-spacing: 2px;
  text-transform: lowercase;
  width: 20%;
  font-size: 160%;
  z-index: 100;
  padding: 60px 0px 0px 0px;
}
.menu-links {
  text-decoration: none;
}
.page-links {
  width: 100%;
  display: flex;
}
.year {
  font-size: 26px;
}
.content-info {
  margin: 10px 40px;
}
#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(211, 211, 211, 0.8);
  color: #f3eaea;
  cursor: pointer;
  padding: 8px 15px 3px 15px;
  border-radius: 10px;
  font-size: 26px;
}
#topButton:hover {
  background-color: rgba(170, 168, 168, 0.8);
}
.ml4 {
  font-family: Gloock;
  color: #f3eaea;
  position: relative;
  font-size: 2.5em;
  text-align: center;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}
.member-8 {
  text-align: center;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px; /* width: 350px; */
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: 50vh;
  vertical-align: middle;
  border-radius: 5px;
}
.overlay {
  text-align: center;
}
.collapsible {
  font-family: Montserrat;
  background-color: #135d6049;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 26px;
}
.active,
.collapsible:hover {
  background-color: #ffffff92;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #07383a;
}
.collapsible:after {
  content: "\02795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
