body {
  background-color: #07383a;
  color: #f3eaea;
}
a {
  color: #f3eaea;
}
h1 {
  font-family: Gloock;
  font-size: 125px;
  letter-spacing: 10px;
  text-transform: capitalize;
  position: absolute;
  top: -7%;
  left: 24%;
}
.container {
  width: 100vw;
  display: flex;
}
.image-container {
  width: 80%;
  padding-top: 10%;
}
.menu {
  font-family: Montserrat;
  letter-spacing: 2px;
  text-transform: lowercase;
  width: 20%;
}
.page-links {
  width: 100%;
  display: flex;
}
